<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="width:50%">
    <div class="row">
        <form th:action="@{/member/signup}" method="post">
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="memberId">ID</label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="memberId" id="memberId" class="form-control" placeholder="ID"> <!-- memberId 필드 추가 -->
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="memberName">이름:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="memberName" id="memberName" class="form-control" placeholder="이름"> <!-- memberName 필드 추가 -->
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="memberPw">비밀번호:</label>
                </div>
                <div class="col-md-9">
                    <input type="password" name="memberPw" id="memberPw" class="form-control" placeholder="비밀번호"> <!-- memberPw 필드 추가 -->
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="memberPwChk">비밀번호 확인:</label>
                </div>
                <div class="col-md-9">
                    <input type="password" name="memberPwChk" id="memberPwChk" class="form-control" placeholder="비밀번호 확인"> <!-- memberPwChk 필드 추가 -->
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="submit" value="회원가입" class="form-control" style="background-color:orange; color:white;">
                </div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        </form>
    </div>
</div>
</body>
</html>